<div class="row">
    <div class="large-12 show-for-middle columns" role="content">
        {{#view 'form.foundation'}}
        <fieldset>
            <legend>Categories</legend>
        </fieldset>
        {{/view}}
    </div>
</div>