<div class="row">
    <div class="large-12 show-for-middle columns" role="content">
        {{#view 'form.foundation'}}
        <fieldset>
            <legend>User</legend>
            <div class="row">
                <div class="large-12 show-for-middle columns">
                <table width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each user in controller}}
                    <tr>
                        <th>{{name}}</th>
                        <th></th>
                    </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td width="150">{{view 'input.currency' valueBinding="newUserName" placeholder="Name"}}</td>
                        <td width="150"><button class="budget-button" {{action 'addUser'}}>Add</button></td>
                    </tr>
                    </tfoot>
                </table>
                </div>            
            </div>
        </fieldset>         
        {{/view}}
    </div>
</div>