<div class="row">
    <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                    <h1><a href="#">My Household</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
            <ul class="right">
            <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
          </ul>
            <ul class="left">
            <li>{{#link-to 'calculator'}}Calculate{{/link-to}}</li>
          </ul>
            </section>
        </nav>
    </div>
</div>    
<div class="row">
    <div class="large-12 show-for-middle columns">&nbsp</div>
</div>
{{outlet}}
 <footer class="row">
     <div class="large-12 columns">
        Footer
     </div>
 </footer>
